<footer class="footer">
  <div class="container-default footer-wrapper footer-top flex justify-between">
    <div class="footer-contact">
        <div class="footer-contact__logo">
                        <a href="/" class="">
                            <img src="image/catalog/MyPolaroid-footer.svg" alt="">                                
                        </a>
        </div>
        <div class="footer-contact__item">
                        <div class="flex-column">
                            <span class="">Телефони</span>
                            <a href="tel:+380672352578" class="">+38 (067) 235-25-78</a>
                            <a href="tel:+380505293611" class="">+38 (050) 529-36-11</a>
                        </div>
        </div>
        <div class="footer-contact__item flex-column">
                        <span class="">Email</span>
                        <a href="mailto:mypolaroid@gmail.com" class="">mypolaroid@gmail.com</a>
        </div>
        <div class="footer-contact__item">
                        <span class="">Соціальні мережі</span>
        </div>
    </div>
    <div class="f-column">
        <div class="">Допомога та інформація</div>
        <div class="">
            <ul class="">
                <li class="">
                    <a href="">Умови повернення</a>
                </li>
                <li class="">
                    <a href="">Гарантії</a>
                </li>
                <li class="">
                    <a href="">Рекламація</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="f-column">
        <div class="">Доставка</div>
    </div>
    <div class="f-column">
        <div class="">Оплата</div>
    </div>
  </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<script src="catalog/view/javascript/script.js" type="text/javascript"></script>

</body></html>