<div id="" class="header-menu__search">
  <button id="openSearch" class="btn-list">
    <img src="image/catalog/search.svg" alt="search" title="">
  </button>
</div>

      <!-- Всплывающее окно поиска -->
<div id="searchPopup" class="search-popup">
  <div id="search" class="search-content">
    <button id="closeSearch" class="close-btn">✖</button>
    <div class="search-form-wrapper">
      <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control header-input" />
        <button class="search-btn">
          <i class="fa fa-search"></i>
        </button>
    </div>
  </div>
</div>








