<div id="" class="">
  <button id="openSearch" class="btn-list">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.6666" cy="14.6667" r="8" stroke="#222222"/>
        <path d="M26.6666 26.6667L22.6666 22.6667" stroke="#222222" stroke-linecap="round"/>
    </svg>
  </button>
</div>

      <!-- Всплывающее окно поиска -->
<div id="searchPopup" class="search-popup">
  <div id="search" class="search-content">
    <button id="closeSearch" class="close-btn">✖</button>
    <div class="search-form-wrapper">
      <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control header-input" />
        <button class="search-btn">
          <i class="fa fa-search"></i>
        </button>
    </div>
  </div>
</div>








