/*Base block*/
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
// Colors
$red: #b40400;
$black: #292929;
$border: #e5e5e5;
$footer-txt: #cfcfcf;
$footer-border: #282828;
$brown: #ae946d;
$white: #ffffff;
$footer-bg: #080808;

:root {
    --red: #b40400;
    --black: #292929;
    --border: #e5e5e5;
    --footer-txt: #cfcfcf;
    --footer-border: #282828;
    --brown: #ae946d;
    --white: #ffffff;
} 

html, body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: $black;
}

/*Base end*/

