@use "base" as *;
.footer {
    background-color: $footer-bg;
    color: $footer-txt;
    margin-top: 80px;
    padding-top: 0;
    border: none;
    &-wrapper {
        padding-top: 60px;
    }
    &-top {
        justify-content: space-between;
    }
    &-list {
        padding-left: 0;
    }
}
.footer-contact {
    flex: 0 0 380px;
    border-right: 1px solid $footer-border;
    &__logo {
        margin-bottom: 40px;
    }
}
.footer-contact__item {
        color: $footer-txt;
        line-height: 25px;
        margin-bottom: 25px;
        span {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
        }
        a {
            color: $footer-txt;
            font-size: 13px;
        }
}
.f-column {
    a {
        color: #ffffff;
    }
    li {
        margin-bottom: 5px;
    }
}
.footer-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}