@use "base" as *;
.footer {
    background-color: $footer-bg;
    color: $footer-txt;
    margin-top: 80px;
    padding-top: 0;
    border: none;
    &-wrapper {
        padding-top: 60px;
    }
    &-top {
        justify-content: space-between;
    }
    &-list {
        padding-left: 0;
    }
    &-icon {
        margin-top: 20px;
        gap: 15px;
    }
}
.footer-contact {
    flex: 0 0 350px;
    border-right: 1px solid $footer-border;
    &__logo {
        margin-bottom: 40px;
    }
}
.footer-contact__item {
        color: $footer-txt;
        line-height: 25px;
        margin-bottom: 25px;
        span {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
        }
        a {
            color: $footer-txt;
            font-size: 13px;
        }
}
.f-column {
    a {
        color: #ffffff;
    }
    li {
        margin-bottom: 5px;
    }
}
.footer-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}
.footer-bootom {
    border-top: 1px solid $footer-border;
    padding: 20px 0 20px 0;
    text-align: right;
    font-size: 13px;
}
@media (max-width: 992px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-title {
        border-bottom: 1px solid $footer-border;
        border-top: 1px solid $footer-border;
        padding: 10px 0 10px 0;
    }
    .footer-contact {
        border-right: none;
    }
}