@use "base" as *;
.header-promo {
    height: 38px;
    justify-content: center;
    a {
        color: $black;
        font-size: 14px;
        font-weight: 600;
    }
    span {
        color: $red;
        font-size: 20px;
        font-style: italic;
    }
}


